.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6rem;
  min-height: 100vh;
}

.content {
  width: 800px;
}

.description {
  display: inherit;
  /* justify-content: inherit;
  align-items: inherit; */
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: sans-serif;
}
